.git
.gitignore
.vs
.vscode
.idea
**/.DS_Store

**/bin/
**/obj/
**/*.user
**/*.suo

**/logs/
**/*.log
**/*.md

# Yerel secret kopyaları
**/firebase-service-account.json
**/appsettings.Development.json
